.group-social {
  padding: 8px 0;
}
.icon-social {
  width: 22px;
}
li {
  margin-right: 10px;
}
.divider {
  height: 2px;
  width: 100%;
  background-color: var(--white-color);
  margin-bottom: 24px;
}
.logo {
  margin-bottom: 24px;
}
section {
  display: flex;
  justify-content: space-between;
}
nav {
  width: 230px;
  margin-right: 16px;
}
nav li {
  padding: 16px;
  margin: 0;
}
nav .active {
  background-color: var(--primary-color);
}
nav .active a {
  color: var(--white-color);
}
nav a {
  color: var(--second-color);
  text-decoration: none;
  padding: 16px;
  font-size: 24px;
  font-weight: lighter;
}
.main-content {
  min-height: 100vh;
}
h1,
p {
  color: var(--white-color);
}
.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 16px;
}
.title span {
  color: var(--primary-color);
}
.sub-title {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 6rem;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 2rem;
}
main p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 16px;
  color: var(--primary-color);
  width: 100%;
}
footer {
  color: var(--white-color);
  margin-top: 24px;
  text-align: center;
}
